body {
    font-family: Arial!important;
}

label, .unit {
    padding-top: 9px;
    padding-bottom: 9px;
    line-height: 22px;
}

.money {
    color: green;
}

h2 {
    text-transform: uppercase;
}
